
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('https://img.freepik.com/free-photo/top-view-natural-cosmetics-concept_23-2148565310.jpg?semt=ais_hybrid'); 
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    padding-bottom: 50px;
}

header {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 40px 0;
}


.section {
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    margin-bottom: 20px;
    border-radius: 10px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 15px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product {
    background-color: #f9f9f9;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1rem;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea,
form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}
